.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-content: center;
    align-items: center;
    margin: 15px 0;

    > div {
        margin: 5px 15px;
    }

    .share-count {
        text-align: center;
    }
    
}
.right {
    justify-content: flex-end;
}
.left {
    justify-content: flex-start;
}