@import 'scss/colors.scss';
*,*:before, *:after {
    box-sizing: border-box;
}
.overflow-hidden {
    height: 7rem;
    padding-top: 1rem;
    overflow: hidden;
}
.line {
    left: 50%;
    right: 50%;
    width: 100px;
    height: 1px;
}
.media-style {
    padding: 1.5rem;
    margin-top: 2rem;

    border-radius: 0.25rem
}
.media-title {
    text-transform: capitalize;
    font-weight: 500;
    }
.num {
    width: 2.5rem;
    height: 2.5rem;
    color: $white;
    font-weight: 500;
    border-radius: 100%;
    text-align: center;

}